@mixin responsive($breakpoint) {
    @if $breakpoint == tablet {
        @media screen and (min-width: 768px) { @content }
    }
    @if $breakpoint == portatil {
        @media screen and (min-width: 1024px) { @content }
    }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
